In [16]:
import pandas as pd

In [24]:
# read the CSVs into data frames
df_ed = pd.read_csv("Resources/Educational_Attainment_Ohio_Census_Tract_2020.csv")
df_pop = pd.read_csv("Resources/ohio_census_tract_population_2020.csv")

# merge and rename data frames
df_merge = pd.merge(df_ed, df_pop, on="NAME", suffixes=('', '_DROP')).filter(regex='^(?!.*_DROP)')
df_merge.rename(columns= {
    "S1501_C01_001E": "S1501_C01_001E: Total population 25 years and over",
    "S1501_C01_002E": "S1501_C01_002E: Less than 9th grade",
    "S1501_C01_003E": "S1501_C01_003E: 9th to 12th grade, no diploma",
    "S1501_C01_004E": "S1501_C01_004E: High school graduate (includes equivalency)",
    "S1501_C01_005E": "S1501_C01_005E: Some college, no degree",
    "S1501_C01_006E": "S1501_C01_006E: Associate's degree",
    "S1501_C01_007E": "S1501_C01_007E: Bachelor's degree",
    "S1501_C01_008E": "S1501_C01_008E: Graduate or professional degree",
    "S1501_C01_009E": "S1501_C01_009E: Percent high school graduate or higher",
    "S1501_C01_010E": "S1501_C01_010E: Percent bachelor's degree or higher",
    "S1501_C01_011E": "S1501_C01_011E: Male, total population 25 years and over",
    "S1501_C01_012E": "S1501_C01_012E: Male, less than 9th grade",
    "S1501_C01_013E": "S1501_C01_013E: Male, 9th to 12th grade, no diploma",
    "S1501_C01_014E": "S1501_C01_014E: Male, high school graduate (includes equivalency)",
    "S1501_C01_015E": "S1501_C01_015E: Male, some college, no degree",
    "S1501_C01_016E": "S1501_C01_016E: Male, associate's degree",
    "S1501_C01_017E": "S1501_C01_017E: Male, bachelor's degree",
    "S1501_C01_018E": "S1501_C01_018E: Male, graduate or professional degree",
    "S1501_C01_019E": "S1501_C01_019E: Female, total population 25 years and over",
    "S1501_C01_020E": "S1501_C01_020E: Female, less than 9th grade",
    "S1501_C01_021E": "S1501_C01_021E: Female, 9th to 12th grade, no diploma",
    "S1501_C01_022E": "S1501_C01_022E: Female, high school graduate (includes equivalency)",
    "S1501_C01_023E": "S1501_C01_023E: Female, some college, no degree",
    "S1501_C01_024E": "S1501_C01_024E: Female, associate's degree",
    "S1501_C01_025E": "S1501_C01_025E: Female, bachelor's degree",
    "S1501_C01_026E": "S1501_C01_026E: Female, graduate or professional degree",
    "B01003_001E": "B01003_001E: Total Population"
    },
    inplace=True
    )
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3168 entries, 0 to 3167
Data columns (total 27 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   NAME                                                                 3168 non-null   object
 1   S1501_C01_001E: Total population 25 years and over                   3168 non-null   int64
 2   S1501_C01_002E: Less than 9th grade                                  3168 non-null   int64
 3   S1501_C01_003E: 9th to 12th grade, no diploma                        3168 non-null   int64
 4   S1501_C01_004E: High school graduate (includes equivalency)          3168 non-null   int64
 5   S1501_C01_005E: Some college, no degree                              3168 non-null   int64
 6   S1501_C01_006E: Associate's degree                                   3168 non-null   int64
 7   S1501_C01_007E: Bachelor's degree                                    3168 non-null   int64
 8   S1501_C01_008E: Graduate or professional degree                      3168 non-null   int64
 9   S1501_C01_009E: Percent high school graduate or higher               3168 non-null   int64
 10  S1501_C01_010E: Percent bachelor's degree or higher                  3168 non-null   int64
 11  S1501_C01_011E: Male, total population 25 years and over             3168 non-null   int64
 12  S1501_C01_012E: Male, less than 9th grade                            3168 non-null   int64
 13  S1501_C01_013E: Male, 9th to 12th grade, no diploma                  3168 non-null   int64
 14  S1501_C01_014E: Male, high school graduate (includes equivalency)    3168 non-null   int64
 15  S1501_C01_015E: Male, some college, no degree                        3168 non-null   int64
 16  S1501_C01_016E: Male, associate's degree                             3168 non-null   int64
 17  S1501_C01_017E: Male, bachelor's degree                              3168 non-null   int64
 18  S1501_C01_018E: Male, graduate or professional degree                3168 non-null   int64
 19  S1501_C01_019E: Female, total population 25 years and over           3168 non-null   int64
 20  S1501_C01_020E: Female, less than 9th grade                          3168 non-null   int64
 21  S1501_C01_021E: Female, 9th to 12th grade, no diploma                3168 non-null   int64
 22  S1501_C01_022E: Female, high school graduate (includes equivalency)  3168 non-null   int64
 23  state                                                                3168 non-null   int64
 24  county                                                               3168 non-null   int64
 25  tract                                                                3168 non-null   int64
 26  B01003_001E: Total Population                                        3168 non-null   int64
dtypes: int64(26), object(1)
memory usage: 668.4+ KB

In [25]:
# load as new CSV
df_merge.to_csv("Resources/ACS_5_Year_Census_Tract_Edu_Attain_Total_Pop.csv", index=False)